:root { --bs-body-font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { --bs-body-font-family: 'Inter var', sans-serif; }
}

.sticky-xl-top{
  top: 3rem;
}

.project-card:hover{
  background-color:aliceblue ;
}

.xp-card:hover{
  background-color:aliceblue ;
}